@{
    Layout = "_LoginLayout";
}

<style>
    form {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 4px;
        text-decoration: none;
        text-align: center;
        display: inline-block;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }

</style>


<form method="post" action="/Login/ForgotPassword">
    <div class="row">
        <div class="col-md-6">
            <label for="Email" class="form-label">Email</label>
            <input required type="email" class="form-control" name="Email">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Şifremi Unuttum</button>
        </div>
    </div>
    @ViewData["Msg"]
</form>